.container {
	max-width: 1626px;
	padding: 0 30px;
	margin: 0 auto;
}

.site-container {
	overflow: hidden;
}

.flex {
	display: flex;
}

.btn-reset {
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.section__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
	color: var(--dark-color);
}

.section__title--center {
	text-align: center;
	max-width: none;
}

.section__desc {
	margin: 0 auto;
	padding-bottom: 30px;
  max-width: 650px;
	font-family: 'SFCompact', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: var(--grey-color);
}

.btn {
	background-color: var(--accent-color);
	border-radius: 8px;
	font-weight: 800;
	font-size: 12px;
	color: var(--white-color);
	letter-spacing: 2.18182px;
	text-transform: uppercase;
}

