:root {
	--white-color: #fff;
	--black-color: #000;
	--dark-color: #1C2E3D;
	--accent-color: #E8594E;
	--neptun-color:#73AFBA;
	--grey-color: #959EA6;
	--accent-hover: #8c2820;
	--neptun-hover:#0f505b;

}
