.become {
	padding-top: 150px;
	padding-bottom: 120px;
	background-color: #fff;
}

.become__title {
	margin-bottom: 16px;
	max-width: 50%;
}

.become__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 90px;
}

.become__item {
	position: relative;
	margin-right: 2%;
	margin-bottom: 2%;
	/* flex: 0 0 23.5%; */
	width: 23%;
	border-radius: 4px;
	font-size: 0;
	overflow: hidden;
}

.become__item:nth-child(4n) {
	margin-right: 0;
}

.become__item:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--neptun-color);
	opacity: 0;
	transition: opacity 0.3s ease-in-out ;
}

.become__item:hover {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.326);
}

.become__item:hover:before{
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out ;
}

.become__image {
	max-height: 100%;
	object-fit: cover;
}

.become__text {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 54px;
	padding-bottom: 55px;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: var(--white-color);
	transform: translateY(300px);
	transition: transform 0.3s ease-in-out ;
}

.become__item:hover .become__text {
	transform: translateY(0);
	transition: transform 0.3s ease-in-out ;
}
