.featured {
	position: relative;
	height: 100vh;
	min-height: 770px;
	background-image: url('../../img/featured-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.featured__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.blog-article {
	width: 44%;
}

.blog-article__category {
	display: inline-block;
	padding: 20px 30px;
	margin-bottom: 16px;
	background-color: var(--accent-color);
	border-radius: 100px;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	color: var(--white-color);
	letter-spacing: 2px;
	line-height: 1;
	text-transform: uppercase;
	transition: background-color 0.3s;
}

.blog-article__category:hover {
	background-color: var(--accent-hover);
	transition: background-color 0.3s;
}

.blog-article__title {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	color: var(--white-color);
}

.blog-article__desc {
	margin-bottom: 40px;
	font-family: 'SFCompact', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--white-color);
}

.blog-article__link {
	display: inline-block;
	margin-bottom: 106px;
	padding: 33px 80px;
	background: var(--neptun-color);
	border-radius: 8px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2.18182px;
	text-transform: uppercase;
	color: var(--white-color);
	transition: background 0.3s;
}

.blog-article__link:hover {
	background: var(--neptun-hover);
	transition: background 0.3s;
}

.featured__stories {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	right: 0;
	padding: 0 133px;
	width: 42.3%;
	height: 100%;
	background-color: rgb(60, 74, 81, 0.9);
}

.featured__title {
	margin-bottom: 64px;
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
	color: var(--white-color);
}

.featured-list__article {
	display: flex;
	align-items: flex-start;
	padding: 33px 0;
	border-bottom: 2px solid #4d5a5f;
}

.featured-list__item:last-child .featured-list__article{
	border-bottom: 1px solid transparent;
}

.featured-list__image {
	margin-right: 32px;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	overflow: hidden;
	flex-shrink: 0;
}

.featured-list__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.featured-list__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #FFF;
}

.featured-list__time {
	font-family: "SFProText", sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.502293);
}
