.first {
	min-height: 640px;
	background-image: url('../../img/first-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);
}

.first__container {
	position: relative;
	padding-top: 220px;
	padding-bottom: 200px;
	height: 100%;
}

.first__link {
	display: inline-block;
	margin-bottom: 42px;
	padding: 15px 30px;
	background-color: rgb(28, 46, 61, 0.4);
	border-radius: 100px;
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.first__title {
	margin-bottom: 40px;
	max-width: 40%;
	font-weight: 700;
	font-size: 80px;
	line-height: 84px;
}

.first__desc {
	margin-bottom: 40px;
	max-width: 32%;
	font-family: 'SFCompact', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.first__btn {
	position: relative;
	padding: 33px 80px;
	z-index: 5;
	transition: background-color 0.3s;
}

.first__btn:hover {
	background-color: var(--accent-hover);
	transition: background-color 0.3s;
}

.first__bottom {
	position: absolute;
	display: flex;
	align-items: flex-end;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: calc(100% - 60px);
}

.search-form {
	position: relative;
	flex-shrink: 0;
	width: 68%;
	height: 120px;
	border-top-left-radius: 4px;
	overflow: hidden;
}

.search-form__field {
	padding-left: 55px;
	padding-right: 100px;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #fff;
	color: var(--dark-color);
}

.search-form__button {
	position: absolute;
	right: 62px;
	top: 50%;
	transform: translateY(-50%);
	width: 19px;
	height: 18px;
	background-image: url('../../icon/search.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.main-slider {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 0;
	overflow: hidden;
	line-height: 1;
}

.main__slider-btn  {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 41px;
	background-image: url('../../icon/first-video-play-icon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 50;
}

.main-slider__media {
	position: relative;
	height: 280px;
	width: 100%;
	font-size: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main-slider__text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	background-color: var(--neptun-color);
	font-weight: 800;
	font-size: 12px;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2.18px;
}

.first__slider-btn {
	position: absolute;
	left: 15px;
	bottom: 54px;
	width: 14px;
	height: 14px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 15;
}

.btn-right {
	left: auto;
	right: 15px;
	background-image: url('../../icon/arrow-right.svg');
}

.btn-left {
	background-image: url('../../icon/arrow-left.svg');

}

@media (max-height: 1079px) {
	/* .first__container {
		padding: 120px 30px;
	} */
}

@media (max-height: 880px) {
	/* .first__container {
		padding: 100px 30px;
	} */

	.first__link {
		margin-bottom: 30px;
	}

	.first__title {
		font-size: 75px;
		line-height: 75px;
	}
}

@media (max-height: 740px) {
	.search-form {
		height: 80px;
	}

	.main-slider__text {
		height: 80px;
	}

	.first__desc {
		font-size: 12px;
		margin-bottom: 30px;
	}

	.first__title {
		font-size: 65px;
		line-height: 65px;
	}

	.first__btn {
		padding: 25px 40px;
	}

	.first__slider-btn {
		bottom: 34px;
	}
}


