.footer {
	padding-top: 124px;
	border-top: 1px solid #d9d9d9;
}

.footer__container {
	justify-content: space-between;
}

.footer__title {
	position: relative;
	margin-bottom: 35px;
	padding-bottom: 35px;
	font-family: 'Helvetica', sans-serif;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2.15px;
	text-transform: uppercase;
	color: var(--black-color);
}

.footer__title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 42px;
	height: 1px;
	background: #57A773;
}

.footer__link {
	display: inline-block;
	margin-bottom: 12px;
	font-size: 13px;
	color: #959EA6;
	text-transform: capitalize;
}

.subs-form {
	display: flex;
	flex-direction: column;
	width: 368px;
}

.subs-form__field {
	padding-left: 31px;
	width: 100%;
	height: 64px;
	border-radius: 8px;
	border: 1px solid #E4E4E4;
	background-image: url('../../icon/user.svg');
	background-position: calc(100% - 31px) center;
	background-repeat: no-repeat;
}

.subs-form__btn {
	margin-top: 16px;
	width: 100%;
	height: 64px;
	background-color: var(--neptun-color);
	transition: background-color 0.3s;
}

.subs-form__btn:hover {
	background-color: var(--neptun-hover);
	transition: background-color 0.3s;
}

.footer__bottom {
	margin-top: 117px;
	padding: 30px 0;
	border-top: 1px solid #d9d9d9;
}

.bottom__container {
	justify-content: space-between;
}

.footer__copy {
	font-size: 13px;
	color: #959EA6;
}

.footer__links {
	display: flex;
}

.footer__links-item {
	margin-left: 45px;
}

.footer a:hover {
	color: var(--dark-color);
}

.footer__bottom a:hover {
	color: var(--dark-color);
}
