.insp {
	padding-top: 95px;
	padding-bottom: 140px;
}

.insp__title {
	margin-bottom: 25px;
}

.insp__desc {
	padding-bottom: 93px;
}

.grid {
	display: grid;
}

.insp__list {
	/* Отступ между li, берет только внутренние отступы */
	grid-gap: 32px;
	/* разделение на три равные части, всегда будут одинаковыми */
	grid-template-columns: 1fr 1fr 1fr;
	/* высота */
	grid-auto-rows: minmax(500px, auto);
}

.insp__item {
	position: relative;
	background-color: #000;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.insp__item:hover {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.326);
}

.insp__item::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.647277) 100%);
}

.insp__item--big {
	/* место в колонке, должен занимать 2 */
	grid-column-end: span 2;
}

.insp__item--bigheight {
	height: 710px;
}

.inps__item--1 {
	background-image: url('../../img/insp/insp-1.jpg');
}

.inps__item--2 {
	background-image: url('../../img/insp/insp-2.jpg');
}

.inps__item--3 {
	background-image: url('../../img/insp/insp-3.jpg');
}

.inps__item--4 {
	background-image: url('../../img/insp/insp-4.jpg');
}

.inps__item--5 {
	background-image: url('../../img/insp/insp-5.jpg');
}

.inps__item--6 {
	background-image: url('../../img/insp/insp-6.jpg');
}

.inps__item--7 {
	background-image: url('../../img/insp/insp-7.jpg');
}

.insp__play {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 65px;
	height: 64px;
	background-image: url('../../icon/video-icon-wh.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.insp__item-text {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 40px;
	padding-bottom: 48px;
	z-index: 5;
}

.insp-item-category {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 10px;
	letter-spacing: 1.1px;
	color: var(--white-color);
	text-transform: uppercase;
}

.insp-item__title {
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 32px;
	color: var(--white-color);
	text-transform: capitalize;
}

.insp-item-people {
	display: flex;
}

.insp__item-ava {
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 100%;
	background-color: var(--white-color);
	/* border: 2px solid var(--white-color); */
}

.insp__item-ava:not(:first-child) {
	margin-left: -15px;
}
