@media (max-width: 1500px) {
	.featured__stories {
		padding: 80px 60px;
	}
}

@media (max-width: 1200px) {


	.become__title {
		max-width: 75%;
	}

	.become__text {
		padding-left: 30px;
		padding-bottom: 25px;
	}

	.featured__stories {
		width: 50%;
	}

	.featured__title {
		margin-bottom: 20px;
	}

	.slider-container .swiper-slide {
		width: calc(100% - 60px);
		min-height: 350px;
	}

	.newsletter__content {
		--newsletter-gap: 30px;
	}

	.subscribe-form {
		width: 400px;
	}

	.newletter__form {
		bottom: -65px;
	}

}

@media (max-width: 992px) {
	.first__title {
		max-width: 70%;
	}

	.first__desc {
		max-width: 50%;
	}

	.become__item {
		width: 39%;
		margin-right: 20%;
	}

	.become__item:nth-child(2n) {
		margin-right: 0;
	}

	.featured-list__article {
		padding: 15px 0;
	}
}

@media (max-width: 768px) {

	.menu__list {
		padding-top: 60px;
		min-width: 250px;
		font-size: 36px;
	}

	.search-form {
		width: 55%;
	}

	.become__item {
		width: 48%;
		margin-right: 2%;
	}

	.featured {
		padding-top: 40px;
		height: auto;
	}

	.featured__stories {
		position: static;
		padding: 80px 30px;
		width: 100%;
	}

	.newsletter__form {
		left: 50%;
		right: auto;
		transform: translateX(-50%);
	}

	.subscribe-form {
		width: 350px;
	}

	.newsletter__content {
		padding-top: 136px;
		padding-bottom: 350px;
	}

	.insp__list {
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(400px, auto);
		width: 100%;
	}

	.insp__item {
		height: auto;
	}

	.insp__item--big {
		grid-column-end: 2;
	}

	.footer__container {
		flex-wrap: wrap;
	}

	.footer__column:last-child {
		margin-top: 20px;
	}

	.footer__copy {
		max-width: 50%;
	}

}

@media (max-width: 576px) {
	.first {
		height: auto;
		min-height: auto;
		align-items: stretch;
	}

	.first__container {
    padding-top: 140px;
    padding-bottom: 0;
	}

	.first__title {
		max-width: none;
	}

	.first__desc {
		max-width: none;
		font-size: 14px;
	}

	.search-form {
		border-top-right-radius: 4px;
	}

	.first__bottom {
		position: static;
		transform: none;
		flex-direction: column-reverse;
		width: 100%;
	}

	.main-slider {
		margin-top: 3%;
		width: 100%;
	}

	.main-slider .swiper-container{
		width: 100%;
	}


	.search-form {
		margin-top: 2%;
		width: 100%;
	}

	.section__title {
		max-width: none;
		font-size: 45px;
		line-height: 50px;
	}

	.become__item {
    width: 100%;
		margin-right: 0;
	}

	.become__image {
		width: 100%;
	}

	.blog-article {
		width: 100%;
	}

	.slider-title {
		padding: 20px;
		font-size: 20px;
		line-height: 25px;
	}

	.slide-play {
		top: 20px;
		left: 30px;
		width: 60px;
		height: 60px;
	}

	.featured-video {
		padding-bottom: 0;
	}

	.newsletter {
		padding-bottom: 50px;
	}

	.insp {
		padding-bottom: 50px;
	}

	.newsletter__content {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.newsletter__form {
		margin-top: 30px;
		position: static;
		left: 0;
		transform: none;
	}

	.subscribe-form {
		padding-top: 30px;
		width: 100%;
	}

	.subcribe-form__field {
		width: calc(100% - (15px * 2));
	}

	.subscribe-form__btn {
		margin-top: 30px;
		height: 60px;
	}

	.footer__column:last-child {
		margin-top: 0;
	}

	.footer__column {
		margin-bottom: 30px;
		width: 100%;
	}

	.subs-form {
		width: 100%;
	}

	.footer__bottom {
		margin-top: 30px;
	}

	.footer__copy {
		width: 100%;
		max-width: none;
	}

	.bottom__container {
		flex-wrap: wrap;
	}

	.footer__links {
		width: 100%;
		justify-content: center;
	}

	.footer__links-item {
		margin: 0 10px;
	}

}

@media (max-width: 375px) {
	.container {
		padding: 0 15px;
	}

	.social {
		display: none;
	}

	.header__container {
		padding-top: 30px;
	}

	.first__container {
		padding-top: 90px;
	}

	.first__title {
		font-size: 50px;
	}

	.btn-left {
		left: 25px;
	}

	.btn-right {
		right: 25px;
	}
}
